.desktop{
    background-image: url("../../images/backgroundImageLarge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-color: black;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}
.display-3{
    margin-top: 150px;
}
.bottom-p{
    margin: 15px;
}

.my-2{
    height: 1px;
    color: white;
    background-color: white;
    border: none;
    margin-top: 180px !important;
}

.button{
    position: absolute;
    bottom: 15px;
    left: 48%;
    }
